/sonya-core/nb-configuration.xml
/sonya-core/target/
/sonya-core/target/
/sonya-web-admin/nb-configuration.xml
/nbactions.xml
/sonya-core/nbactions.xml
/sonya-web-admin/target/
/sonya-web-transport/nb-configuration.xml
/sonya-transport/nb-configuration.xml
/sonya-web-transport/target/
/sonya-transport/target/
/sonya-transport-client/target/
/sonya-server/target/
/sonya-server/nb-configuration.xml
/sonya-transport-client/src/main/webapp/nbproject/private/
/sonya-transport-html5/nbproject/private/
/target/