/sonya-core/build/
/sonya-transport/build/
/sonya-server/build/
.gradle
/.nb-gradle/
/sonya-transport-html5/dist
/sonya-transport-html5/src/dist
/sonya-transport-html5/build
/production
/sonya-transport-cordova/nbproject/private/
/sonya-transport-cordova/node_modules/cordova-android/framework/build/
/sonya-transport-cordova/node_modules/cordova-android/test/app/build/
/sonya-transport-cordova/node_modules/cordova-android/test/build/
/sonya-transport-cordova/node_modules/cordova-android/test/.nb-gradle/
/sonya-transport-cordova/platforms/android/CordovaLib/build/