<md-toolbar color="primary" class="app-toolbar ss-shadow">
    <button md-button (click)="toMain()">
            <md-icon>stars</md-icon> TODO
    </button>
    
    <span class="spacer"></span>

    <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>menu</md-icon>
    </button>
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
        <button md-menu-item (click)="changeLanguage('en')">
            <img src="/assets/image/flag/en_32.png" class="lang-menu-icon">
            <span>English</span>
        </button>
        <button md-menu-item (click)="changeLanguage('ru')">
            <img src="/assets/image/flag/ru_32.png" class="lang-menu-icon">
            <span>Russian</span>
        </button>
        <button md-menu-item (click)="signIn()" *ngIf="isControlVisible">
            <md-icon>account_circle</md-icon>
            <span>Sign In</span>
        </button>
    </md-menu>
</md-toolbar>
<router-outlet></router-outlet>
<simple-notifications [options]="options"></simple-notifications>
