<md-toolbar color="primary" class="app-toolbar ss-shadow">
    <button md-button (click)="toMain()">
            <md-icon>stars</md-icon> <span>MINI BREST.BY</span>
    </button>
    
    <span class="spacer"></span>
    
    <button md-icon-button [mdMenuTriggerFor]="themeMenu"
            mdTooltip="{{'toolbar.select-theme'| translate}}">
            <md-icon>format_color_fill</md-icon>
    </button>
    <md-menu #themeMenu="mdMenu" [overlapTrigger]="false">
        <md-grid-list cols="2">
            <md-grid-tile *ngFor="let theme of themes">
                <button md-mini-fab mdTooltip="{{'skin.' + theme.id | translate}}"
                        [style.background-color]="theme.color"
                        (click)="changeSkin(theme, false)">
                    <md-icon>{{theme === activeTheme ? 'check_circle' : 'fiber_manual_record'}}</md-icon>
                </button>
            </md-grid-tile>
        </md-grid-list>
    </md-menu>
    
    <button md-icon-button [mdMenuTriggerFor]="langMenu"
            mdTooltip="{{'toolbar.select-lang'| translate}}">
            <md-icon>language</md-icon>
    </button>
    <md-menu #langMenu="mdMenu" [overlapTrigger]="false">
        <md-grid-list cols="2">
            <md-grid-tile>
                <button md-button (click)="changeLanguage('by')"
                        mdTooltip="{{'lang.by' | translate}}">
                    <img src="/assets/image/flag/by_32.png" class="lang-menu-icon">
                </button>
            </md-grid-tile>
            <md-grid-tile>
                <button md-button (click)="changeLanguage('ru')"
                        mdTooltip="{{'lang.ru' | translate}}">
                    <img src="/assets/image/flag/ru_32.png" class="lang-menu-icon">
                </button>
            </md-grid-tile>
            <md-grid-tile>
                <button md-button (click)="changeLanguage('en')"
                        mdTooltip="{{'lang.en' | translate}}">
                    <img src="/assets/image/flag/en_32.png" class="lang-menu-icon">
                </button>
            </md-grid-tile>
            <md-grid-tile *ngIf="isControlVisible">
                <button md-button (click)="signIn()" 
                        mdTooltip="Sign In">
                    <md-icon>security</md-icon>
                </button>
            </md-grid-tile>
        </md-grid-list>
    </md-menu>
    
    <a href="https://github.com/StarshiStrelok/sonya" target="blank"
       class="github-link">
        <img src="assets/image/github.svg" mdTooltip="{{'toolbar.github' | translate}}"
             class="github-img">
    </a>
    
</md-toolbar>
<router-outlet></router-outlet>
<simple-notifications [options]="options"></simple-notifications>
