<md-card class="main-card">
    <md-card-header>
        <md-card-title><h3>Transport profile</h3></md-card-title>
        <md-card-subtitle>Transport profile provided map preferences, 
            search and route settings</md-card-subtitle>
    </md-card-header>
    <form [formGroup]="transportProfileForm" novalidate>
        <md-card-content>
            <input type="number" hidden="true" formControlName="id"/>
            <md-input-container class="full-width">
                <input mdInput placeholder="Profile name" formControlName="name">
                <md-error *ngIf="transportProfileForm.get('name').hasError('required')">
                    Required
                </md-error>
                <md-error *ngIf="transportProfileForm.get('name').hasError('maxlength')">
                    Very long string, 100 characters maximum
                </md-error>
            </md-input-container>
            
            <md-card>
                <md-card-header>
                    <md-card-title><b>Map settings</b></md-card-title>
                    <md-card-subtitle>
                        Define your map settings: zoom and bounds restrictions,
                        center map and much more
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <md-grid-list cols="2" rowHeight="56px;">
                        <md-grid-tile>
                            <latitude-field label="South-west latitude"
                                            [(control)]="transportProfileForm.controls.southWestLat">
                            </latitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <longitude-field label="South-west longitude"
                                             [(control)]="transportProfileForm.controls.southWestLon">
                            </longitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <latitude-field label="North-east latitude"
                                            [(control)]="transportProfileForm.controls.northEastLat">
                            </latitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <longitude-field label="North-east longitude"
                                             [(control)]="transportProfileForm.controls.northEastLon">
                            </longitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <latitude-field label="Center map latitude"
                                            [(control)]="transportProfileForm.controls.centerLat">
                            </latitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <longitude-field label="Center map longitude"
                                             [(control)]="transportProfileForm.controls.centerLon">
                            </longitude-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <zoom-field label="Initial zoom (0 - 19)"
                                        [(control)]="transportProfileForm.controls.initialZoom">
                            </zoom-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <zoom-field label="Minimal map zoom (0 - 19)"
                                        [(control)]="transportProfileForm.controls.minZoom">
                            </zoom-field>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card-content>
            </md-card>
            <!-- ROUTES -->
            <md-card>
                <md-card-header>
                    <md-card-title><b>Route types</b></md-card-title>
                    <md-card-subtitle>
                        Define your route types here, for example 'Autobus', 'Metro', 'Trolleybus' etc.<br/>
                        * Line color - route line color, define as CSS color<br/>
                        * OSRM service URL - see more info on <a href="http://project-osrm.org">OSRM project</a> page<br/>
                        * Average speed (in km/h) - average speed for transport,
                            affects search algorithms and relevance of results, faster transportation rises<br/>
                        * Bus stop marker image required! Upload own marker image, default image only for example
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <md-grid-list cols="12" rowHeight="56px;" *ngFor="let rp of routeProfiles"
                                  [formGroup]="rp">
                                  <input type="number" hidden="true" formControlName="id"/>
                        <md-grid-tile colspan="2">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Route type name" formControlName="name">
                                <md-error *ngIf="rp.get('name').hasError('required')">
                                    Required
                                </md-error>
                                <md-error *ngIf="rp.get('name').hasError('maxlength')">
                                    Very long string, 30 characters maximum
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile colspan="2">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Average speed, km/h"
                                       formControlName="avgSpeed">
                                <md-error *ngIf="rp.get('avgSpeed').hasError('required')">
                                    Required
                                </md-error>
                                <md-error *ngIf="rp.get('avgSpeed').hasError('maxNumber')">
                                    Very high speed, 500 max
                                </md-error>
                                <md-error *ngIf="rp.get('avgSpeed').hasError('minNumber')">
                                    Very low speed, 1 min
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile colspan="4">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Routing service URL"
                                       formControlName="routingURL" type="url">
                                <md-error *ngIf="rp.get('routingURL').hasError('maxlength')">
                                    Very long string, 100 characters maximum
                                </md-error>
                                <md-error *ngIf="rp.get('routingURL').hasError('pattern')">
                                    Not valid URL
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile colspan="2">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Line color (CSS-format)"
                                       formControlName="lineColor">
                                <md-error *ngIf="rp.get('lineColor').hasError('maxlength')">
                                    Very long string, 10 characters maximum
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <img [src]="'/rest/data/transport-profile/route/marker/' + rp.get('id').value + imgPostfix"
                                onerror="this.src='/assets/image/busstop.png'"
                                (click)="uploadBusStopMarkerImage(rp)" mdTooltip="Upload bus stop marker image"
                                mdTooltipPosition="above" class="bsm-img">
                        </md-grid-tile>
                        <md-grid-tile>
                            <button md-mini-fab color="accent" (click)="removeRouteProfileGroup(rp)"
                                    mdTooltip="Remove" mdTooltipPosition="above">
                                <md-icon>close</md-icon></button>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card-content>
                <md-card-actions>
                    <button md-mini-fab color="accent" (click)="addRouteProfileGroup()"
                            mdTooltip="Add route profile" mdTooltipPosition="above">
                        <md-icon>add</md-icon></button>
                </md-card-actions>
            </md-card>
            <!-- SEARCH -->
            <md-card>
                <md-card-header>
                    <md-card-title><b>Search settings</b></md-card-title>
                    <md-card-subtitle>
                        Search engine controls<br/>
                        * Access zone radius (km) - the radius inside which 
                            is looking for bus stops for transfer to another route.
                            Recommend using 0.1-0.5 km. Affects search accuracy and search routes time,
                            high value - slower search and high accuracy, low value - faster search,
                            low accuracy<br/>
                        * Bus stop limit near point (integer) - mean how many bus stops use for search
                            near start and destination point. Recommend use 4. 
                            The higher the slower but more accurate
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <md-grid-list cols="4" rowHeight="56px;">
                        
                        <md-grid-tile>
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Transfer access zone radius, km"
                                       formControlName="busStopAccessZoneRadius">
                                <md-error *ngIf="transportProfileForm.get('busStopAccessZoneRadius').hasError('required')">
                                    Required
                                </md-error>
                                <md-error *ngIf="transportProfileForm.get('busStopAccessZoneRadius').hasError('minNumber')">
                                    Must be positive
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        
                        <md-grid-tile>
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Bus stop limit near point"
                                       formControlName="searchLimitForPoints">
                                <md-error *ngIf="transportProfileForm.get('searchLimitForPoints').hasError('required')">
                                    Required
                                </md-error>
                                <md-error *ngIf="transportProfileForm.get('searchLimitForPoints').hasError('minNumber')">
                                    Minimum 1
                                </md-error>
                            </md-input-container>
                        </md-grid-tile>
                        
                    </md-grid-list>
                </md-card-content>
            </md-card>
        </md-card-content>
        <md-card-actions align="end">
            <button md-fab color="primary" (click)="onSubmit()" mdTooltip="Confirm" mdTooltipPosition="above">
                <md-icon>done</md-icon></button>
            <div class="vr"></div>
            <button md-fab color="primary" (click)="goBack()" mdTooltip="Close" mdTooltipPosition="above">
                <md-icon>close</md-icon></button>
        </md-card-actions>
    </form>
</md-card>
<input type="file" hidden="true" id="marker-image-upload"
       (change)="selectFile($event)">