<div class="container">
    <h1>Transport profile</h1>
    <form [formGroup]="transportProfileForm" novalidate>
        <textfield formControlName="name"
                   [label]="'Transport profile name'" 
                   [control]="transportProfileForm.get('name')">
        </textfield>
        <fieldset class="fieldset-border">
            <legend class="legend-border">Map settings</legend>
            <fieldset class="fieldset-border">
                <legend class="legend-border-inner">Bounds</legend>
                <div class="row">
                    <div class="col-3">
                        <numberfield label="South-west latitude" formControlName="southWestLat"
                                        [control]="transportProfileForm.get('southWestLat')"></numberfield>
                    </div>
                    <div class="col-3">
                        <numberfield label="South-west longitude" formControlName="southWestLon"
                                        [control]="transportProfileForm.get('southWestLon')"></numberfield>
                    </div>
                    <div class="col-3">
                        <numberfield label="North-east latitude" formControlName="northEastLat"
                                        [control]="transportProfileForm.get('northEastLat')"></numberfield>
                    </div>
                    <div class="col-3">
                        <numberfield label="North-east longitude" formControlName="northEastLon"
                                        [control]="transportProfileForm.get('northEastLon')"></numberfield>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset-border">
                <legend class="legend-border-inner">Zoom</legend>
                <div class="row">
                    <div class="col-6">
                        <numberfield label="Initial zoom" formControlName="initialZoom"
                                        [control]="transportProfileForm.get('initialZoom')"></numberfield>
                    </div>
                    <div class="col-6">
                        <numberfield label="Minimal zoom" formControlName="minZoom"
                                        [control]="transportProfileForm.get('minZoom')"></numberfield>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </form>
    <p>Form value: {{ transportProfileForm.value | json }}</p>
    <p>Form status: {{ transportProfileForm.status | json }}</p>
</div>
