<div class="container">
    <h1>Transport profile</h1>
    {{diagnostic}}
    <form #transportProfileForm="ngForm" novalidate>
        <s-input-text label="Profile name" required="true" id="name"
                      [(field)]="model.name" maxlength="100"></s-input-text>
        <fieldset class="fieldset-border">
            <legend class="legend-border">Map bounds</legend>
            <div class="row">
                <div class="col-3">
                    <s-input-number label="South-west latitude" required="true" id ="southWestLat"
                                    [(field)]="model.southWestLat"
                                    min="-90" max="90"></s-input-number>
                </div>
                <div class="col-3">
                    <s-input-number label="South-west longitude" required="true" id="southWestLon"
                                    [(field)]="model.southWestLon"
                                    min="-180" max="180"></s-input-number>
                </div>
                <div class="col-3">
                    <s-input-number label="North-east latitude" required="true" id="northEastLat"
                                    [(field)]="model.northEastLat"
                                    min="-90" max="90"></s-input-number>
                </div>
                <div class="col-3">
                    <s-input-number label="North-east longitude" required="true" id="northEastLon"
                                    [(field)]="model.northEastLon"
                                    min="-180" max="180"></s-input-number>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success"
                [disabled]="!transportProfileForm.form.valid">Create profile</button>
    </form>
</div>
