<div class="container">
    <h1>Transport profile</h1>
    {{diagnostic}}
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" maxlength="100" name="name" required
                   [(ngModel)]="model.name">
        </div>
        <fieldset>
            <div class="form-group">
                <label for="southWestLat">South-west latitude</label>
                <input type="number" class="form-control" id="southWestLat" max="90" min="-90"
                       name="southWestLat"
                       [(ngModel)]="model.southWestLat">
            </div>
            <div class="form-group">
                <label for="southWestLon">South-west longitude</label>
                <input type="number" class="form-control" id="southWestLon" max="180" min="-180"
                       name="southWestLon"
                       [(ngModel)]="model.southWestLon">
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Create profile</button>
    </form>
</div>
